@using CommunityPortal.Models.Domains
@model CreatePostViewModel

@{
    ViewData["Title"] = "Edit post";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit post</h1>
</div>

<form asp-area="Admin"
      asp-controller="Post"
      asp-action="Edit"
      asp-route-id="@ViewBag.Id"
      asp-antiforgery="true">
    <input type="hidden" asp-for="Created" />
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input class="form-control" asp-for="Title">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Thumbnail" class="form-label"></label>
        <input class="form-control" asp-for="Thumbnail">
        <span class="text-danger" asp-validation-for="Thumbnail"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea class="form-control" asp-for="Content"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>
    @if (ViewData.ContainsKey("Categories"))
    {
        foreach (Category item in (List<Category>) ViewData["Categories"])
        {
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value="@item.Id"
                       name="Categories[]"
                       id="Categories[@item.Id]"
                       @(Model.Categories.Any(category => category == item.Id) ? "checked" : "")>
                <label class="form-check-label"
                       for="Categories[@item.Id]">
                    @item.Title
                </label>
            </div>
        }
    }
    <button type="submit" class="btn btn-primary">Submit</button>
</form>