@model CreatePostViewModel

@{
    ViewData["Title"] = "Add New Post";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add new post</h1>
</div>

<form asp-area="Admin"
      asp-controller="Post"
      asp-action="New"
      asp-antiforgery="true">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input class="form-control" asp-for="Title">
        <span asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Thumbnail" class="form-label"></label>
        <input class="form-control" asp-for="Thumbnail">
        <span asp-validation-for="Thumbnail"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea class="form-control" asp-for="Content"></textarea>
        <span asp-validation-for="Content"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>